# Fichiers de compilation
*.o
*.a
*.so
*.dll
*.exe

# Dossier de build
build/

# Fichiers de build
dist/

# Fichiers temporaires
*.swp
*.swo
*~
.DS_Store

# IDE
.vscode/
.idea/
*.code-workspace

# Docker
output/

# Fichiers système
Thumbs.db
desktop.ini
